{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 180,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true
}
